.form {
  padding: 1em;
}
.form form {
  font-size: 1.3em;
}
#user .form .result,
#user .form form {
  padding: 2em;
}
.form p {
  padding-bottom: 1em;
}
.form .result a {
  color: #34558b;
  text-decoration: none;
  border-bottom: 1px dashed #34558b;
}
.form .result a:hover {
  border-bottom: 1px solid #34558b;
}

.form .result i {
  padding-top: 0.3em;
  padding-right: 0.7em;
  font-size: 1.7em;
}

.form .buttons {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

.form .buttons button {
  letter-spacing: 3px;
  padding-left: 15px;
  padding-right: 15px;
}
