.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
  flex-wrap: nowrap;

  background: #fff;
  border-bottom: 1px solid whitesmoke;
  padding: 0.3em 0.5em;
  cursor: pointer;
}

.row:first-child {
  border-top: 1px solid whitesmoke;
}

.row:hover {
  background: whitesmoke;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 2;
  margin: 2px;
  background: inherit;
}

.buttons {
  justify-self: end;
  flex-shrink: 1;
  margin: 2px;
  cursor: pointer;
}
.buttons > div {
  /* button containers */
  display: flex;
  flex-wrap: nowrap;
}
.buttons i {
  color: #777;
  font-size: 1em;
  padding-left: 5px;
}

.buttons i:hover {
  color: #000;
}

.avatar {
  font-size: 0.9em;
  flex-shrink: 1;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #c0c0c0;
  color: #000;
  font-weight: bold;
  max-width: 35px;
  max-height: 35px;
  min-width: 35px;
  min-height: 35px;
}

.header .avatar {
  font-size: 1.3em;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  color: #000;
}

.header .title {
  font-weight: bold;
  font-size: 1.3em;
}

.avatar .admin {
  position: absolute;
  font-size: 0.6em;
  color: #16821d;
  margin-top: -35px;
  text-shadow: 1px 1px #000;
}

.avatar .owner {
  color: goldenrod;
}

.row .title {
  font-size: 1.3em;
}

.row i {
  font-size: 1.3em;
}
