i.clear {
  margin-left: -10px;
  padding: 10px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bounce {
  animation: bounce-in 0.5s;
}
.unbounce {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Add forms */

.add {
  height: 60px;
  background: #e0e0e0;
  border-top: 1px solid #c0c0c0;
}

.add input {
  font-size: 1.3em;
  background: #fff;
  width: 90%;
  margin: 10px;
  padding: 10px;
  border: 0;
}

.add input:focus {
  outline: none;
}

.add button {
  display: none;
}
